<header>
    <h1><a onclick="location.href='/';">Recipe Website</a></h1>
</header>
<nav>
    <ul>
        <li><a onclick="location.href='/';">Home</a></li>
        <li><a onclick="location.href='/login';">Login</a></li>
        <li><a onclick="location.href='/profile'">Profile</a></li>
        <li><a onclick="location.href='/howTo'">How to..?</a></li>
        <li><a onclick="location.href='/about'">About</a></li>
    </ul>
</nav>