<%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/pages.ejs') %>
    <div id="wrapper">
      <h2>About Website</h2>
        <p>A web application that allows users to input ingredients they have, and check their ingredients against the site's recipes to tell users how many recipes they can make. Users will be instructed on how to create the recipe and can also add their own recipes to the website.</p>
      <h2>Contributors</h2>
        <p>Zachary Chandos</p>
        <p>Jonathan Scott Fulkerson</p>
        <p>Cameron Medsker</p>
        <p>Brayden Steffen</p>
        <p>Aidan Wyman</p>
    </div>
  </body>
</html>