<%- include('./partials/header.ejs') %>

	<body>
		<%- include('./partials/pages.ejs') %>
		<div id="bigimage">
			<div class="search">
				<input type="text" placeholder="Search...">
				<h3>Common Ingredients</h3>
				<form>
					<input type="checkbox" id="ingredient1" name="ingredient1" value="Eggs">
					<label for="ingredient1">Eggs</label><br>
					<input type="checkbox" id="ingredient2" name="ingredient2" value="Milk">
					<label for="ingredient2">Milk</label><br>
					<input type="checkbox" id="ingredient3" name="ingredient3" value="Butter">
					<label for="ingredient3">Butter</label><br>
				</form>
				<h3>Search results appear here</h3>
			</div>
			<div id="wrapper">
				<h2>Featured Dish Of Today</h2>
				<h2>something something recipe here and image here</h2>
			</div>
		</div>
	</body>
</html>