<%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/pages.ejs') %>
    <div id="wrapper">
      <h2>Beginner Skills</h2><br>
      <div id="wrapper" style="margin-top: 0;">
      <h3>Prepare Garlic</h3>
      <p>Step 1: Loosen the bulb</p>
      <p>Place a whole bulb on a cutting board with the root side down. Press down on top of the bulb with the heel of your hand to loosen the cloves.</p>
      <p>Step 2: Separate the cloves</p>
      <p>Use your fingers to open and separate the cloves from the root.</p>
      <p>Step 3: Trim root and tip</p>
      <p>Trim roots of the cloves and the tips</p>
      <p>Step 4: Crush the cloves</p>
      <p>Place the flat side of a chef’s knife over a clove, with the blade facing away from you. Use gentle pressure to lightly crush the clove between the cutting board.</p>
      <p>Step 5: Peel the skin</p>
      <p>The papery skin should be easy to peel off the clove</p>
    </div>
    </div>
  </body>
</html>