<%- include('partials/header'); -%>

<body>
    <%- include('./partials/pages.ejs') %>
    <div id="login">
        <form action="'/signup">
            <h2>Sign up</h2><br>
            <label for="email">Email:</label>
            <input type="text" name="email" class="accountInputs" required placeholder="Enter Email...">
            <div class="email error"></div><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" class="accountInputs" required placeholder="Enter Password...">
            <div class="password error"></div><br><br>
            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Reset errors when submit is clicked
        emailError.textContent = '';
        passwordError.textContent = '';

        // Get values
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();

            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                location.assign('/');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>