* {box-sizing: border-box;}

body {
	display: block;
	background-color: #7C1A1B;
	color: #666666;
	font-family: verdana;
	margin: 0;
}
header{
	margin: 0;
}
header a:link {
	text-decoration: none;
	color: white;
}
header a:visited {
	text-decoration: none;
	color: white;
}
header a:hover {
	color: lightblue;
}
h1 {
	background-color: #7C1A1B;
	color: #FFFFFF;
	font-family: 'Times New Roman', Georgia, Times, serif;
	font-size: 3em;
	text-align: center;
	font-size: 1.5em;
	padding: 1em;
	margin: 0;
}
nav {
	font-size: 1.2em;
	text-align: center;
	background-color: white;
}
nav a {
	text-decoration: none;
}
nav a:link {
	color: #1A7C7A;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #a52a2a;
	cursor: pointer;
}
nav ul {
	display: flex;
	list-style-type: none;
	padding-left: 1em;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding-left: 0;
}
nav li {
	padding-top: .5em;
	padding-bottom: .5em;
	width: 100%;
	border-bottom: 1px solid;
}
main {
	display: block;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0;
	padding-bottom: 0;
}
h2 {
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-top: 10px;
	text-align: center;
}
h3 {
	color:black;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
footer {
	font-size: .70em;
	font-style: italic;
	text-align: center;
	padding: 1em;
	background-color: #A05441;
}
#wrapper {
	display: block;
	margin:auto;
	margin-top: 20px;
	width: 50%;
	padding: 20px;
	background-color: white;
	text-align: center;
	border: #1A7C7A;
	border-width: 20px;
	border-style:inset;
}
#bigimage {
	display: block;
	background-image: url('/foods.jpg');
	margin-top: 50px;
	width: 2000x;
	height: 1000px;
}
#searchButton{
	border-color: #1A7C7A;
	position: relative;
	transform: translateY(80%);
	left: 43%;
	margin: -600px;
	font-size: 20px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-width: 2px;
}
#createButton{
	border-color: #1A7C7A;
	position: relative;
	left: 92%;
	top: 3%;
	/* transform: translateY(180%); */
	margin: -50px;
	font-size: 20px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-width: 2px;
}
section {
	padding-left: .5em;
	padding-right: .5em;
}
input{
	
	border: 2px solid #680100;
	display: block;
	grid-row-start: auto;
	font-size: 22px;
}
.search {
	display: block;
	background-color: white;
	text-align: center;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 70%;
	border: #1A7C7A;
	border-width: 20px;
	border-style: inset;
}
.search input[type=text]{
	margin: auto;
	padding: 10px;
	border: #1A7C7A;
	border-width: 3px;
	border-style: inset;
	width: 70%;
	text-align: center;
}
.search form{
	text-align: start;
	color: black;
}
.title {
	text-align: center;
	font-size: 30px;
	grid-area: header;
	padding: 10px;
}
.descriptionlist {
	text-align: left;
	grid-area: list;
}
#mobile {
	display: inline;
}
#destop {
	display: none;
}


@media (min-width: 600px) {

h1 {
	font-size: 2em;
	letter-spacing: .25em;
}	
nav li {
	width: 12em;
	border-bottom: none;
}
section {
	padding-left: 2em;
	padding-right: 2em;
}
#flow {
	display: flex;
	flex-direction: row;
}
#mobile {
	display: none;
}
#desktop {
	display: inline;
}
  }


@media (min-width: 1024px) {


nav ul {
	padding-left: 10%;
	padding-right: 10%;
}
#wrapper {
	margin: 0 auto;
	width: 80%;
}
} 